{% extends "layout.html.twig" %}

{% block title 'Edit' %}

{% block content %}
    <h1>    
    {% if membre.id is empty %}
            Nouveau
        {% else %}
            Modification
        {% endif %}
        membre
    </h1>
   
    <form method="post">        

        <div class="form-group">
            <label>Pseudo</label>
            <input type="text" name="pseudo" class="form-control" value="{{ membre.pseudo }}">
        <div class="form-group">
            <label>Prénom</label>
            <input type="text" name="prenom" class="form-control" value="{{ membre.prenom }}">
        </div>
        </div>
        <div class="form-group">
            <label>Nom</label>
            <input type="text" name="nom" class="form-control" value="{{ membre.nom }}">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" class="form-control" value="{{ membre.email }}">
        </div>
        <div class="form-group">
            <label class="">Civilité</label>
            <input type="radio" name="civilite" id="inlineRadio1" value="h" checked="{% if membre.civilite == 'h' %}checked{% else %} {% endif %}"> : Homme
            <input type="radio" name="civilite" id="inlineRadio2" value="f" checked="{% if membre.civilite == 'f' %}checked{% else %} {% endif %}"> : Femme
        </div>
        <div class="form-group">
            <label>Photo de profil : </label>
            <input type="file" name="avatar" class="" value="{{ membre.avatar }}">
        </div>
        
        <div class="form-group">
        <label for="statut">Statut</label>
            <select name="statut">
                <option value="">Choisir</option>
                <option value="membre" {% if membre.statut == 'membre'%}selected{% endif %}>membre</option>
                <option value="admin" {% if membre.statut == 'admin'%}selected{% endif %}>admin</option>
                <option value="pro" {% if membre.statut == 'pro'%}selected{% endif %}>pro</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Enregistrer</button>

        <a href="{{ path('liste_membre') }}" class="">Annuler</a>
        
    </form>
        
{% endblock %}
