{% extends "layout.html.twig" %}

{% block title 'Listing Membres' %}

{% block content %}
    
<div class="background-1">
    
    <div class="container-admin">
    
    <h1>Gestion des membres</h1>
            
    <table class="table-admin">
        <tr>
            <th>Id</th>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Statut</th>
            <th>Supprimer</th>
            <th>Modifier</th>
        </tr>
        
        {% for membre in membres %}
        <tr>
            <td>{{ membre.id }}</td>
            <td>{{ membre.pseudo }}</td>
            <td>{{ membre.nom }}</td>
            <td>{{ membre.prenom }}</td>
            <td>{{ membre.email }}</td>           
            <td>{{ membre.statut }}</td>
            <td>                
                <div class="btn-supprimer"><a href="{{path('admin_membre_delete', {id: membre.id}) }}">Supprimer</a></div>
            </td>
            <td>
                <div class="btn-modifier"><a href="{{path('admin_membre_edit', {id: membre.id}) }}">Modifier</a></div>              
            </td> 
        </tr>
        {% endfor %}
    </table>

    </div>
    
</div>
    
{% endblock %}
