{% extends "layout.html.twig" %}

{% block title 'Profil' %}

{% block content %}
    
<div class="background-2">
        
    <div class="menu-haut">
        <nav>           
             {{ render(url('objectif_menu'))}}
        </nav>
    </div>
    
    <div class="container-profil">

	<!-- INFOS PROFIL -->
		<img class="prog_photo" src="{{ asset('image/bg-profil.jpg') }}" alt="image">


		<div class="avatar">	
			<img src="{{ membre.avatar }}" alt="image">

			<div class="profil-membre">{{ membre.statut }}</div>
			<div class="profil-pseudo">{{ membre.pseudo }}</div>
		</div>
		
		<div class="profil-div">
		<!-- Liste profil -->
			<ul class="profil-liste">
				<li>Prénom et Nom : <p class="">{{ membre.prenom }} {{ membre.nom }}</p></li>
				<li>Civilité : <p class="">{{ membre.civilite }}</p></li>
				<li>Email : <p class="">{{ membre.email }}</p></li>
				<li>Inscrit le <p class="">{#{{ membre.dateEnregistrement }}#}</p></li>
				<li><img class="logo-profil" src="{{ asset('image/logo.gif') }}" alt="logo"></li>
			</ul>
		</div>


		
	<!-- PROGRAMMES DU PROFIL -->	
	        <div class="container-profil-debut">
	            <p>Mes programmes</p>
	        </div> 
                    {% for programme in programmes %}
                        {{ programme.membreId }}
	            <div class="container-profil-bis">
			<div class="col-left">
		            	<div class="sport-profil">{{ programme.sport }}</div>
                                        <div class="titre-prog-profil">{{ programme.titre }}</div>

                                            <!-- Menu Recap (table) -->
                                            <ul class="recap-list">
                                                    <li class="recap_image"><img src="{{ asset('image//objectif.jpg') }}"><p class="menu_prog">{{ programme.objectif }}</p></li>
                                                    <li class="recap_image"><img src="{{ asset('image//level.jpg') }}">{{ programme.difficulte }}</p></li>
                                                    <li class="recap_image"><img src="{{ asset('image//time.jpg') }}"><p class="menu_prog">{{ programme.duree }}</p></li>
                                                    <li class="recap_image"><img src="{{ asset('image//altere.jpg') }}"><p class="menu_prog">{{ programme.materiel }}</p></li>
                                                    <li class="recap_image"><img src="{{ asset('image/oeil.png') }}"><p class="menu_prog"><a href="{{ path('programme', {id: programme.id}) }}">Voir le programme</a></p></li>
                                            </ul>
					</div>

					<div class="col-right">
						<img src="{{ asset('image//fitness.jpg') }}" alt="logo">
					</div>
					<br>

                                            <p class="date-publication">Publié le {{ programme.datePublication|date('d-m-Y H:i:s') }}</p>

                                            <div class="bandeau"></div>
				</div>
                                {% endfor %}

			<div class="container-profil-fin"></div>	
    </div>
</div>
    
    
{% endblock %}
