
{% extends "layout.html.twig" %}

{% block title 'Listing Objectifs' %}

{% block content %}    
    
<div class="background-1">
    
    <div class="container-admin">
    
    <h1>Gestion des objectifs</h1>
       
    <p><a href="{{ path('admin_objectif_edit') }}">Ajouter un objectif</a></p>
    
    <table class="table-admin">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Action</th>
        </tr>
        
        {% for objectif in objectifs %}
        <tr>
            <td>{{ objectif.id }}</td>
            <td>{{ objectif.titre }}</td>
            <td>
                <div class="btn-voir"><a href="{{path('admin_objectif_edit', {id: objectif.id}) }}">Modifier</a></div>
                <div class="btn-supprimer"><a href="{{path('admin_objectif_delete', {id: objectif.id}) }}">Supprimer</a></div>
            </td>    
        </tr>
        {% endfor %}
    </table>
    
    </div>
    
</div>
    
{% endblock %}

