
{% extends "layout.html.twig" %}

{% block title 'Listing Programmes' %}

{% block content %}
   
<div class="background-1">
    
    <div class="container-admin">
    
    <h1>Gestion des programmes</h1>
       
    <table class="table-admin">
        <tr>
            <th>Id</th>
            <th>Nom du programme</th>
            <th>Créé par le membre</th>
            <th>Date de création</th>
            <th>Action</th>
            <th>Voir</th>
        </tr>
        
        {% for programme in programmes %}
        <tr>
            <td>{{ programme.id }}</td>
            <td>{{ programme.titre }}</td>
            <td>{{ programme.membre.pseudo }}</td>
            <td>{{ programme.datePublication|date('d-m-Y H:i:s') }}</td>
            <td>                
                <div class="btn-supprimer"><a href="{{path('admin_programme_delete', {id: programme.id}) }}">Supprimer</a></div>
            </td>
            <td>                
                <div class="btn-voir"><a href="{{ path('programme', {id: programme.id}) }}">Voir</a></div>
            </td>  
        </tr>
        {% endfor %}
    </table>
    
    </div>
    
</div>
    
{% endblock %}{# empty Twig template #}
