{% extends "layout.html.twig" %}

{% block title 'Création et modification programme' %}
    
{% block content %}

{#<form method="POST" enctype="multipart/form-data">#}
        
        {#    PARTIE ENREGISTREMENT PROGRAMME    #}
        
        {#<div>
            <label>Titre du programme</label>
            <input type="text" name="titre" value="{{ programme.titre }}">
        </div>
        <div>            
            <label>Objectif</label>
            <select name="objectif_id">
                <option value="">Choisir</option>
                {% for objectif in objectifs %}                    
                    <option value="{{ objectif.id }}" {% if objectif.id == programme.objectifId %}selected{% endif %} >{{ objectif.titre }}</option>
                {% endfor %}
            </select>
        </div>
        <div>            
            <label>Matériel</label>
            <select name="materiel">
                <option value="">Choisir</option>
                <option value="oui" {% if programme.materiel == 'oui'%}selected{% endif %}>Oui</option>
                <option value="non" {% if programme.materiel == 'non'%}selected{% endif %}>Non</option>
                <option value="facultatif" {% if programme.materiel == 'facultatif'%}selected{% endif %}>Facultatif</option>
            </select>
        </div>
        <div>            
            <label>Difficulté</label>
            <select name="difficulte">
                <option value="">Choisir</option>
                <option value="facile" {% if programme.difficulte == 'facile'%}selected{% endif %}>Facile</option>
                <option value="moyen" {% if programme.difficulte == 'moyen'%}selected{% endif %}>Moyen</option>
                <option value="difficile" {% if programme.difficulte == 'difficile'%}selected{% endif %}>Difficile</option>
                <option value="infernal" {% if programme.difficulte == 'infernal'%}selected{% endif %}>Infernal</option>
            </select>
        </div>
        <div>
            <label>Photo</label>
            <input type="file" name="photo_programme" value="{#{{ programme.photoProgramme }}#}{#">
        </div>
        <div>    
            <label>Sport</label>
            <select name="sport">  
                <option value="">Choisir</option>
                <option value="fitness" {% if programme.sport == 'fitness'%}selected{% endif %}>Fitness</option>
                <option value="muscu" {% if programme.sport == 'muscu'%}selected{% endif %}>Musculation</option>
                <option value="running" {% if programme.sport == 'running'%}selected{% endif %}>Running</option>
                <option value="stretching" {% if programme.sport == 'stretching'%}selected{% endif %}>Stretching</option>
                <option value="yoga" {% if programme.sport == 'yoga'%}selected{% endif %}>Yoga</option>
            </select>
        </div>
        <div>
            <label>Durée du programme (en semaine)</label>
            <input type="text" name="duree" value="{{ programme.duree }}">
       </div>           #}
    
            
            
        {#    PARTIE ENREGISTREMENT JOURS    #}
            {#{% for i in 1..1 %}    
                <h2>Jour {{i}}</h2>
                <input type="hidden" name="programme_id" value="">
                <div>
                    <label>Statut</label>
                    <select type="text" name="jour[{{i}}][statut]">
                        <option value="">choisir</option>
                        <option value="entrainement" {#{% if jours.statut == 'entrainement'%}selected{% endif %}#}{#>entrainement</option>
                        <option value="repos">repos</option>
                    </select>
                </div>       
                        
                <div class="exercices">
                {% for j in 1..1 %}
                    <div class="exercice">
                        <h2>Exercice {{j}}</h2>
                        <input type="hidden" name="jour_id" value="">
                        <div>
                            <label>Titre de l'exercice</label>
                            <input type="text" name="jour[{{i}}][exercice][{{j}}][titre]">
                        </div>
                        <div>
                            <label>Consigne</label>
                            <textarea type="text" name="jour[{{i}}][exercice][{{j}}][consigne]"></textarea>
                        </div>
                        <div>            
                            <label>Difficulté</label>
                            <select name="jour[{{i}}][exercice][{{j}}][difficulte]">
                                <option value="">choisir</option>
                                <option value="facile">Facile</option>
                                <option value="moyen">Moyen</option>
                                <option value="difficile">Difficile</option>
                                <option value="infernal">Infernal</option>
                            </select>
                        </div>
                        <div>            
                            <label>Zone musculaire</label>
                            <select name="jour[{{i}}][exercice][{{j}}][zone_musculaire]">
                                <option value="">Choisir</option>
                                <option value="bras">Bras</option>
                                <option value="cou">Cou</option>
                                <option value="dos">Dos</option>
                                <option value="epaule">Epaules</option>
                                <option value="fessiers">Fessiers</option>
                                <option value="jambes">Jambes</option>                                
                            </select>
                        </div>
                        <div>
                            <label>Muscle(s) ciblé(s)</label>
                            <input type="text" name="jour[{{i}}][exercice][{{j}}][muscle_cible]">
                        </div>
                        <div>
                            <input type="hidden" name="jour_id" value="">
                        </div>
                        <div>
                            <label>Photo</label>
                            <input type="file" name="jour[{{i}}][exercice][{{j}}][photo]" value="">
                        </div>
                        <div>
                            <label>Séries</label>
                            <input type="text" name="jour[{{i}}][exercice][{{j}}][serie]" value="">
                        </div>
                        <div>
                            <label>Répétitions</label>
                            <input type="text" name="jour[{{i}}][exercice][{{j}}][repetition]" value="">
                        </div>
                        <div>
                            <label>Détails séries</label>
                            <textarea type="text" name="jour[{{i}}][exercice][{{j}}][detail_serie]"></textarea>
                        </div>
                        <div>
                            <label>Temps de repos entre chaque série</label>
                            <input type="text" name="jour[{{i}}][exercice][{{j}}][temps_repos]">
                        </div>
                    </div>
                {% endfor %}
                <button type="button" class="clone_exercice" data-added="0" data-jour="{{i}}">Ajouter un exercice</button>
                </div>

            {% endfor %}           

        <button type="submit">Enregistrer</button>
    </form>#}
            
<div class="background-2">

    <div class="menu-haut">
        <nav>           
             {{ render(url('objectif_menu'))}}
        </nav>
    </div>        
            
    <div class="container-programme">        
    <form method="POST" enctype="multipart/form-data">
        
        {#    PARTIE ENREGISTREMENT PROGRAMME    #}
        <div>
            <img class="prog_photo" src="{{ asset('image/ajout-photo.jpg') }}" alt="image">
            <label for="file" class="label-file">Ajouter une photo</label>
            <input id="file" class="input-file" type="file" name="photo_programme" value="">
        </div>
        <div class="sport custom-dropdown">
            <label>Sport</label>
            <select name="sport">
                <option value="">Choisir</option>
                <option value="fitness" {% if programme.sport == 'fitness'%}selected{% endif %}>Fitness</option>
                <option value="muscu" {% if programme.sport == 'muscu'%}selected{% endif %}>Musculation</option>
                <option value="running" {% if programme.sport == 'running'%}selected{% endif %}>Running</option>
                <option value="stretching" {% if programme.sport == 'stretching'%}selected{% endif %}>Stretching</option>
                <option value="yoga" {% if programme.sport == 'yoga'%}selected{% endif %}>Yoga</option>
            </select>
        </div>
        <div class="titre_prog">
            <label>Titre du programme :</label>
            <input type="text" name="titre" value="{{ programme.titre }}" placeholder="... donnez un titre">
        </div>
        <div class="membre">proposé par {{ membre.pseudo }}</div>
        
        <!-- Menu Recap (table) -->
        <ul class="recap recap_li_prog">
            <li class="recap_image">
                <img src="{{ asset('image/objectif.jpg') }}">

                <div class="menu_prog">
                    <label>Objectif</label><br>
                    <select name="objectif_id">
                        <option value="">Choisir</option>
                        {% for objectif in objectifs %}                    
                        <option value="{{ objectif.id }}" {% if objectif.id == programme.objectifId %}selected{% endif %} >{{ objectif.titre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>

            <li class="recap_image">
                <img src="{{ asset('image/level.jpg') }}">

                <div class="menu_prog">
                    <label>Difficulté</label><br>
                    <select name="difficulte">
                        <option value="">Choisir</option>
                        <option value="facile" {% if programme.difficulte == 'facile'%}selected{% endif %}>Facile</option>
                        <option value="moyen" {% if programme.difficulte == 'moyen'%}selected{% endif %}>Moyen</option>
                        <option value="difficile" {% if programme.difficulte == 'difficile'%}selected{% endif %}>Difficile</option>
                        <option value="infernal" {% if programme.difficulte == 'infernal'%}selected{% endif %}>Infernal</option>
                    </select>
                </div>
            </li>

            <li class="recap_image">
                <img src="{{ asset('image/time.jpg') }}">

                <div class="menu_prog">
                    <label>Durée du programme</label><br>
                    <select name="duree">
                        <option value="">Choisir</option>
                        {% for i in 1..15 %}
                        <option value="{{ i }}" {% if programme.duree == i %}selected{% endif %}>{{ i }} semaines</option>
                        {% endfor %}
                    </select>
                </div>
            </li>

            <li class="recap_image">
                <img src="{{ asset('image/altere.jpg') }}">

                <div class="menu_prog">
                    <label>Matériel</label><br>
                    <select name="materiel">
                        <option value="">Choisir</option>
                        <option value="oui" {% if programme.materiel == 'oui'%}selected{% endif %}>Oui</option>
                        <option value="non" {% if programme.materiel == 'non'%}selected{% endif %}>Non</option>
                        <option value="facultatif" {% if programme.materiel == 'facultatif'%}selected{% endif %}>Facultatif</option>
                    </select>
                </div>
            </li>
        </ul>
        
        <!-- séparateur -->
        <div class="border"><hr></div>

        <!-- MENU DES JOURS -->
        <section>
            
            <div class="container-jour">
                <p id="calendrier-programme">Calendrier du programme</p>
                
                <!-- NOM JOURS -->
                <ul>
                    
                    {% for i in 1..2 %}
                        
                        <li class="jour jour{{ i }}">
                            
                            <a class="jour_icon j{{ i }}">Jour {{ i }}</a><hr>
                            
                            <input type="hidden" name="programme_id" value="">
                            
                            
                            <!-- CONTENU -->
                            <div class="sub-menu sub-menu-j{{ i }}">
                            
                            <div>
                                <label>Statut</label>
                                <select type="text" name="jour[{{i}}][statut]" class="jour_statut">
                                    <option value="">choisir</option>
                                    <option value="entrainement" {% if jours[i-1] is defined %}{% if jours[i-1].statut == 'entrainement'%}selected{% endif %}{% endif %}>entrainement</option>
                                    <option value="repos" {% if jours[i-1] is defined %}{% if jours[i-1].statut == 'repos'%}selected{% endif %}{% endif %}>repos</option>
                                </select>
                            </div> 
                            <div class="exercices"> 
                            {#{% if jours[i-1] is defined %}
                            {% set j = (jours[i-1])|length %} 
                            {{ dump(j) }}
                            {% else %}
                            {% set j = 1 %}
                            {% endif %}#}
                            {% for j in 1..1 %}
                                <div class="exercice">
                                <!-- exercice -->
                                <h2>Exercice {{ j }}</h2>
                                <input type="hidden" name="jour_id" value="">
                                <p class="ex_titre">
                                <strong class="titre_prog">{#{{ j }}/.#}
                                <label>Titre</label>
                                <input type="texte" name="jour[{{i}}][exercice][{{j}}][titre]" placeholder="de l'exercice..." value="{% if exercices[i-1][j-1] is defined %}{{ exercices[i-1][j-1].titre }}{% endif %}">
                                    :</strong>
                                </p>
                                
                                <ul class="recap_ex">
                                    <li>
                                        <label>Nombre de répétition</label>

                                        <div class="menu_prog">
                                            <input type="texte" name="jour[{{i}}][exercice][{{j}}][repetition]" placeholder="... fois" value="{% if exercices[i-1][j-1] is defined %}{{ exercices[i-1][j-1].repetition }}{% endif %}">
                                        </div>
                                    </li>
                                    <li>
                                        <label>Temps de repos</label>

                                        <div class="menu_prog">
                                            <input type="texte" name="jour[{{i}}][exercice][{{j}}][temps_repos]" placeholder="... sec." value="{% if exercices[i-1][j-1] is defined %}{{ exercices[i-1][j-1].tempsRepos }}{% endif %}">
                                        </div>
                                    </li>
                                    <li>
                                        <label>Nombre de série</label>

                                        <div class="menu_prog">
                                            <input type="texte" name="jour[{{i}}][exercice][{{j}}][serie]" placeholder="..." value="{% if exercices[i-1][j-1] is defined %}{{ exercices[i-1][j-1].serie }}{% endif %}">
                                        </div>
                                    </li>
                                </ul>
                                <ul class="corps_ex">
                                    <li class="colonne1">
                                        <hr>
                                        <div class="col1-bis">
                                            <img src="{{ asset('image/') }}level.jpg">
                                            <div>
                                                <label>Difficulté</label>
                                                <select name="jour[{{i}}][exercice][{{j}}][difficulte]">
                                                    <option value="">choisir</option>
                                                    <option value="facile" {% if exercices[i-1][j-1] is defined %}{% if exercices[i-1][j-1].difficulte == 'facile'%}selected{% endif %}{% endif %}>Facile</option>
                                                    <option value="moyen" {% if exercices[i-1][j-1] is defined %}{% if exercices[i-1][j-1].difficulte == 'moyen'%}selected{% endif %}{% endif %}>Moyen</option>
                                                    <option value="difficile" {% if exercices[i-1][j-1] is defined %}{% if exercices[i-1][j-1].difficulte == 'difficile'%}selected{% endif %}{% endif %}>Difficile</option>
                                                    <option value="infernal" {% if exercices[i-1][j-1] is defined %}{% if exercices[i-1][j-1].difficulte == 'infernal'%}selected{% endif %}{% endif %}>Infernal</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col1-bis">
                                            <img src="{{ asset('image/') }}location.jpg">

                                            <div>
                                                <label>Zone Musculaire</label>
                                                <select name="jour[{{i}}][exercice][{{j}}][zone_musculaire]">
                                                    <option value="">Choisir</option>
                                                    <option value="bras" {% if exercices[i-1][j-1] is defined %}{% if exercices[i-1][j-1].zoneMusculaire == 'bras'%}selected{% endif %}{% endif %}>Bras</option>
                                                    <option value="cou" {% if exercices[i-1][j-1] is defined %}{% if exercices[i-1][j-1].zoneMusculaire == 'cou'%}selected{% endif %}{% endif %}>Cou</option>
                                                    <option value="dos" {% if exercices[i-1][j-1] is defined %}{% if exercices[i-1][j-1].zoneMusculaire == 'dos'%}selected{% endif %}{% endif %}>Dos</option>
                                                    <option value="epaule" {% if exercices[i-1][j-1] is defined %}{% if exercices[i-1][j-1].zoneMusculaire == 'epaule'%}selected{% endif %}{% endif %}>Epaules</option>
                                                    <option value="fessiers" {% if exercices[i-1][j-1] is defined %}{% if exercices[i-1][j-1].zoneMusculaire == 'fessiers'%}selected{% endif %}{% endif %}>Fessiers</option>
                                                    <option value="jambes" {% if exercices[i-1][j-1] is defined %}{% if exercices[i-1][j-1].zoneMusculaire == 'jambes'%}selected{% endif %}{% endif %}>Jambes</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                    </li>

                                    <li class="colonne2 col2-bis">
                                        <p class="col2-titre"><i class="fa fa-ellipsis-v" aria-hidden="true"></i> Muscles ciblés : </p>
                                        <div>
                                            <input type="texte" name="jour[{{i}}][exercice][{{j}}][muscle_cible]" placeholder="..." value="{% if exercices[i-1][j-1] is defined %}{{ exercices[i-1][j-1].muscleCible }}{% endif %}">
                                        </div>
                                        
                                        <p class="col2-titre"><i class="fa fa-ellipsis-v" aria-hidden="true"></i> Consignes : </p>
                                            <textarea type="texte" name="jour[{{i}}][exercice][{{j}}][consigne]" id="consigne" placeholder= "Ecrivez les consignes de l'exercice" rows="4">{% if exercices[i-1][j-1] is defined %}{{ exercices[i-1][j-1].consigne }}{% endif %}</textarea>
                                        <p class="col2-titre"><i class="fa fa-ellipsis-v" aria-hidden="true"></i> Détails : </p>
                                            <textarea type="texte" name="jour[{{i}}][exercice][{{j}}][detail_serie]" id="detail_serie" placeholder= "Ajouter les détails des séries" rows="1">{% if exercices[i-1][j-1] is defined %}{{ exercices[i-1][j-1].detailSerie }}{% endif %}</textarea>
                                    </li>

                                    <li class="colonne3">
                                        <div class="label-file label-file-ex">
                                            <img class="prog_photo" src="{{ asset('image/') }}ajout-photo.jpg" alt="image">

                                            <label for="file">Ajouter une photo</label>

                                            <input id="file" class="input-file" type="file" name="jour[{{i}}][exercice][{{j}}][photo]" value="{% if exercices[i-1][j-1] is defined %}{{ exercices[i-1][j-1].photo }}{% endif %}">
                                        </div>
                                    </li>
                                </ul>
                                </div>
                            {% endfor %}
                            <button type="button" class="clone_exercice" data-added="0" data-jour="{{i}}">+ Ajouter un exercice</button>
                            </div>
                            <!-- séparateur -->
				<div class="border-blanc"></div>
                            </div> 
                            
                        </li>        
                        
                    {% endfor %}    
                    <button type="submit">Enregistrer</button>
                </ul>
                
            </div>
            
        </section>
        
    </form>      
    </div>    
                   
    
            
            
                
{#    ---------------- CLONE POUR AJOUT EXERCICE -------------    #}
                    <div style="display: none;" class="exercice exercice_template">
                        <h2>Exercice #EXERCICE#</h2>
                        <p class="ex_titre">
                        <strong class="titre_prog">{##JOUR#/.#}
                        <label>Titre</label>
                        <input type="texte" name="jour[#JOUR#][exercice][#EXERCICE#][titre]" placeholder="de l'exercice..." value="">
                            :</strong>
                        </p>

                        <ul class="recap_ex">
                            <li>
                                <label>Nombre de répétition</label>

                                <div class="menu_prog">
                                    <input type="texte" name="jour[#JOUR#][exercice][#EXERCICE#][repetition]" placeholder="... fois">
                                </div>
                            </li>
                            <li>
                                <label>Temps de repos</label>

                                <div class="menu_prog">
                                    <input type="texte" name="jour[#JOUR#][exercice][#EXERCICE#][temps_repos]" placeholder="... sec. / min.">
                                </div>
                            </li>
                            <li>
                                <label>Nombre de série</label>

                                <div class="menu_prog">
                                    <input type="texte" name="jour[#JOUR#][exercice][#EXERCICE#][serie]" placeholder="...">
                                </div>
                            </li>
                        </ul>
                        <ul class="corps_ex">
                            <li class="colonne1">
                                <hr>
                                <div class="col1-bis">
                                    <img src="{{ asset('image/') }}level.jpg">
                                    <div>
                                        <label>Difficulté</label>
                                        <select name="jour[#JOUR#][exercice][#EXERCICE#][difficulte]">
                                            <option value="">choisir</option>
                                            <option value="facile">Facile</option>
                                            <option value="moyen">Moyen</option>
                                            <option value="difficile">Difficile</option>
                                            <option value="infernal">Infernal</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="col1-bis">
                                    <img src="{{ asset('image/') }}location.jpg">

                                    <div>
                                        <label>Zone Musculaire</label>
                                        <select name="jour[#JOUR#][exercice][#EXERCICE#][zone_musculaire]">
                                            <option value="">Choisir</option>
                                            <option value="bras">Bras</option>
                                            <option value="cou">Cou</option>
                                            <option value="dos">Dos</option>
                                            <option value="epaule">Epaules</option>
                                            <option value="fessiers">Fessiers</option>
                                            <option value="jambes">Jambes</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                            </li>

                            <li class="colonne2 col2-bis">
                                <p class="col2-titre"><i class="fa fa-ellipsis-v" aria-hidden="true"></i> Muscles ciblés : </p>
                                <div>
                                    <input type="texte" name="jour[#JOUR#][exercice][#EXERCICE#][muscle_cible]" placeholder="...">
                                </div>

                                <p class="col2-titre"><i class="fa fa-ellipsis-v" aria-hidden="true"></i> Consignes : </p>
                                    <textarea type="texte" name="jour[#JOUR#][exercice][#EXERCICE#][consigne]" id="consigne" placeholder= "Ecrivez les consignes de l'exercice" rows="4"></textarea>
                                <p class="col2-titre"><i class="fa fa-ellipsis-v" aria-hidden="true"></i> Détails : </p>
                                    <textarea type="texte" name="jour[#JOUR#][exercice][#EXERCICE#][detail_serie]" id="detail_serie" placeholder= "Ajouter les détails des séries" rows="1"></textarea>
                            </li>

                            <li class="colonne3">
                                <div class="label-file label-file-ex">
                                    <img class="prog_photo" src="{{ asset('image/') }}ajout-photo.jpg" alt="image">

                                    <label for="file">Ajouter une photo</label>

                                    <input id="file" class="input-file" type="file" name="jour[#JOUR#][exercice][#EXERCICE#][photo]" value="">
                                </div>
                            </li>
                        </ul>                   
                    

                    <!-- séparateur -->
                        <div class="border-blanc"></div>
                    </ul> 
                </li>       
        </ul>
 </div>
 
</div>
                                    
                                    
{#    ---------------- CLONE POUR AJOUT EXERCICE -------------    ANCIENNE VERSION #}
            
    {# <div style="display: none;" class="exercice exercice_template">
                        <h2>Exercice #EXERCICE#</h2>
                        <input type="hidden" name="jour_id" value="">
                        <div>
                            <label>Titre de l'exercice</label>
                            <input type="text" name="jour[#JOUR#][exercice][#EXERCICE#][titre]">
                        </div>
                        <div>
                            <label>Consigne</label>
                            <textarea type="text" name="jour[#JOUR#][exercice][#EXERCICE#][consigne]"></textarea>
                        </div>
                        <div>            
                            <label>Difficulté</label>
                            <select name="jour[#JOUR#][exercice][#EXERCICE#][difficulte]">
                                <option value="facile">Facile</option>
                                <option value="moyen">Moyen</option>
                                <option value="difficile">Difficile</option>
                                <option value="infernal">Infernal</option>
                            </select>
                        </div>
                        <div>            
                            <label>Zone musculaire</label>
                            <select name="jour[#JOUR#][exercice][#EXERCICE#][zone_musculaire]">
                                <option value="cou">Cou</option>
                                <option value="epaule">Epaules</option>
                                <option value="bras">Bras</option>
                                <option value="dos">Dos</option>
                            </select>
                        </div>
                        <div>
                            <label>Muscle ciblé</label>
                            <input type="text" name="jour[#JOUR#][exercice][#EXERCICE#][muscle_cible]">
                        </div>
                        <div>
                            <input type="hidden" name="jour_id" value="">
                        </div>
                        <div>
                            <label>Photo</label>
                            <input type="file" name="jour[#JOUR#][exercice][#EXERCICE#][photo]" value="">
                        </div>
                        <div>
                            <label>Séries</label>
                            <input type="text" name="jour[#JOUR#][exercice][#EXERCICE#][serie]" value="">
                        </div>
                        <div>
                            <label>Répétitions</label>
                            <input type="text" name="jour[#JOUR#][exercice][#EXERCICE#][repetition]" value="">
                        </div>
                        <div>
                            <label>Détails séries</label>
                            <textarea type="text" name="jour[#JOUR#][exercice][#EXERCICE#][detail_serie]"></textarea>
                        </div>
                        <div>
                            <label>Temps de repos entre chaque série</label>
                            <input type="text" name="jour[#JOUR#][exercice][#EXERCICE#][temps_repos]">
                        </div>
                    </div>#}

{% endblock %}
