{% extends "layout.html.twig" %}

{% block title '' %}
    
{% block content %}
    
<div class="background-2">

    <div class="menu-haut">
        <nav>           
             {{ render(url('objectif_menu'))}}
        </nav>
    </div>
    
    <div class="container-programme">
        
    <!-- INFOS DU PROGRAMME -->
        <img class="prog_photo" src="{{ programme.photoProgramme }}" alt="image">

        <div class="sport"> {{ programme.sport }} </div></i>
        <div class="titre_prog">{{ programme.titre }} / semaine 1</div>
        <div class="membre">proposé par <a href="{{ path('profil') }}">{{ programme.membre.pseudo }}</a></div>

        <!-- Menu Recap (table) -->
        <ul class="recap">
            <li class="recap_image"><img src="{{ asset('image/objectif.jpg') }}"><p class="menu_prog">{{ programme.objectif.titre }}</p></li>
            <li class="recap_image"><img src="{{ asset('image/level.jpg') }}"><p class="menu_prog">{{ programme.difficulte }}</p></li>
            <li class="recap_image"><img src="{{ asset('image/time.jpg') }}"><p class="menu_prog">{{ programme.duree }} semaine(s)</p></li>
            <li class="recap_image"><img src="{{ asset('image/altere.jpg') }}"><p class="menu_prog">{{ programme.materiel }}</p></li>
        </ul>
        
        <!-- ETOILES DE COMMENTAIRE A AJOUTER -->
        
        <!-- séparateur -->
	<div class="border"><hr></div>
        
        <!-- LISTE MATERIEL -->	
        <div class="materiel-titre">Matériel</div>
            <ul class="materiel">
                <li>- un tapis</li>
            </ul>
        
        <!-- MENU DES JOURS -->	
        <section>
            <div class="container-jour">
                <p id="calendrier-programme">Calendrier du programme</p>

        <!-- NOM JOURS -->	
        
        <ul>
            {% for jour in jours %}

                {#{{ dump(exercices) }}#}
            {% set indexLength = exercices[loop.index0]|length-1 %}
            {% set index = loop.index0 %}
            <li class="jour jour{{ loop.index }}">

                    <a class="jour_icon j{{ loop.index }}">Jour {{ loop.index }}</a><hr>
                    
            <!-- CONTENU -->
            {% if jour.statut == 'entrainement' %}
                <div class="sub-menu sub-menu-j{{ loop.index }}">

                    {% for i in 0..indexLength %}
                    <!-- 1er exercice -->
                    <p class="ex_titre"><strong>{{ loop.index }}/. {{ exercices[index][i].titre }} :</strong></p>

                        <!-- Menu Recap exercice (table) -->
                        <ul class="recap_ex">
                            <li>

                                <p>Nombre de répétitions</p>
                                <a> {{ exercices[index][i].repetition }} fois</a>

                            </li>
                            <li>
                                <p>Temps de repos</p>
                                <a> {{ exercices[index][i].tempsRepos }} secondes</a>
                            </li>
                            <li>

                                <p>Nombre de séries</p>
                                <a> {{ exercices[index][i].serie }}</a>

                            </li>
                                	
                        </ul>
                        
                        <!-- 3 Colonnes -->
                        <ul class="corps_ex">
                            <li class="colonne1">
                                <div>
                                    <img src="{{ asset('image/level.jpg') }}">
                                    <p> {{ exercices[index][i].difficulte }}</p>
                                </div>
                                <div>
                                    <img src="{{ asset('image/location.jpg') }}">
                                    <p> {{ exercices[index][i].zoneMusculaire }}</p>
                                </div>	
                        </li>

                        <li class="colonne2">
                            <p class="col2-titre"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>                             
                            Muscle(s) ciblé(s) : </p>
                            <p class="col2-texte"> {{ exercices[index][i].muscleCible }}</p>
                            
                            <p class="col2-titre"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>                             
                            Consignes : </p>
                            <p class="col2-texte"> {{ exercices[index][i].consigne }}</p>
                            
                            <p class="col2-titre"><i class="fa fa-ellipsis-v" aria-hidden="true"></i> 
                            Détails : </p>
                            <p class="col2-texte"> {{ exercices[index][i].detailSerie }}</p>

                        </li>

                        <li class="colonne3">
                                <img src="{{ exercices[index][i].photo }}">
                            </li>
                        </ul>
                        
                    {% endfor %}
                </ul>
                {#        block si jour de repos  => à adapter      #}
                {% else %}
                    <ul class="sub-menu sub-menu-j{{ loop.index }}">
                        <div style="width:100%;">    
                    <img style="display:block;width:33%;height:auto;margin:10px auto;" src="{{ asset('image/rest.png') }}">
                        </div>
                    </ul>
                {% endif %}
            </li>          
            {% endfor %}
        </div>  


     </div>

    </div>
        
</div>
    
{% endblock %}