{% extends "layout.html.twig" %}

{% block title '' %}
    
{% block content %}
    
    <p>{{ programme.titre }}</p>
    <p> {{ programme.duree }}</p>
    <p> {{ programme.materiel }}</p>
    
    {% for jour in jours %}
        <p>{{ jour.id }}</p>
        {% for exercice in jour.exercices %}
            - {{ exercice.titre }}<br>
        {% endfor %}
    {% endfor %}

{% endblock %}